.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: #4d5ae5;
}

.footer-logo:hover,
.footer-logo:focus,
.footer-logo:active {
  color: #f4f4fd;
}

.footer-logo-span:hover,
.footer-logo-span:focus,
.footer-logo-span:active {
  color: #4d5ae5;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
}
